<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mask Detection</title>
</head>
<body>
    <h1>Mask Detection Live Stream</h1>

    <!-- Video feed from Flask backend -->
    <div id="videoContainer" style="display: flex; justify-content: center; align-items: center;">
        <img id="video" width="80%" height="auto" src="{{ url_for('video_feed') }}" />
    </div>

    <br><br>
    <button id="stopButton" onclick="stopStream()">Stop Stream</button>

    <script>
        function stopStream() {
            fetch('/stop_feed').then(response => {
                if (response.ok) {
                    alert("Stream stopped");
                }
            });
        }
    </script>
</body>
</html>
