<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mask Detection</title>
</head>
<body>
    <h1 class="glow">Mask Detector Live</h1>

    <!-- Video feed from Flask backend -->
    <div id="videoContainer">
        <img id="video" alt="Start Stream For Mask Verification" />
    </div>

    <br>
    <div class="button-container">
        <button id="startButton" onclick="startStream()">Start Stream</button>
        <button id="stopButton" onclick="stopStream()">Stop Stream</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
